<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>Controlador</servlet-name>
        <servlet-class>Controlador.Controlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorProducto</servlet-name>
        <servlet-class>Controlador.ControladorProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorUsuario</servlet-name>
        <servlet-class>Controlador.ControladorUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorCategoria</servlet-name>
        <servlet-class>Controlador.ControladorCategoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorCliente</servlet-name>
        <servlet-class>Controlador.ControladorCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorDireccion</servlet-name>
        <servlet-class>Controlador.ControladorDireccion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorTarjeta</servlet-name>
        <servlet-class>Controlador.ControladorTarjeta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorReservacion</servlet-name>
        <servlet-class>Controlador.ControladorReservacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorCarrito</servlet-name>
        <servlet-class>Controlador.ControladorCarrito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorPedido</servlet-name>
        <servlet-class>Controlador.ControladorPedido</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controlador</servlet-name>
        <url-pattern>/Controlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorProducto</servlet-name>
        <url-pattern>/ControladorProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorUsuario</servlet-name>
        <url-pattern>/ControladorUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorCategoria</servlet-name>
        <url-pattern>/ControladorCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorCliente</servlet-name>
        <url-pattern>/ControladorCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorDireccion</servlet-name>
        <url-pattern>/ControladorDireccion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorTarjeta</servlet-name>
        <url-pattern>/ControladorTarjeta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorReservacion</servlet-name>
        <url-pattern>/ControladorReservacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorCarrito</servlet-name>
        <url-pattern>/ControladorCarrito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorPedido</servlet-name>
        <url-pattern>/ControladorPedido</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
